<div class="container">
  <h1>Edit Task </h1>
  <%= form_with(model: [ @table, @task], local: true) do |form| %>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <br>
    <%= form.label :description %><br>
    <%= form.text_area :details %>
    <br>
    <%=form.label :start_date %>
    <%= form.date_field :start_date %>
    <br>
    <%=form.label :finish_date %>
    <%= form.date_field :finish_date%>
    <br>
      <%=form.label :task_state_ %>
      <%= form.select(:state) do %>
        <% [['Do', 0], ['Doing', 1], ['Done',2]].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
    <br>
    <%= form.submit %>
  <% end %>
  <br>
</div>
