<div class="container">
  <div class="row">
    <div class="container col-sm-6">
      <h1>Kanban</h1>
      <p>Kanban (signboard or billboard in Japanese) is a scheduling system for lean manufacturing and just-in-time manufacturing (JIT).Taiichi Ohno, an industrial engineer at Toyota, developed kanban to improve manufacturing efficiency. Kanban is one method to achieve JIT. The system takes its name from the cards that track production within a factory. For many in the automotive sector, kanban is known as the "Toyota nameplate system" and as such the term is not used by some other automakers.</p>
    </div>
    <div class="container col-sm-4">
      <h3>To Do Management </h3>
      <p>In this way you have that the application is a method to organize daily activities and even team projects, so you can start with:</p>
      <%= button_to "New Project Table", { :controller =>"tables", :action => "new" }, :method => :get %>
      <br>
    </div>
  </div>
</div>
