<div class="container">
  <h1>Edit Project Table</h1>
  <%= form_with(model: @table, local: true) do |form| %>

    <% if @table.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@table.errors.count, "error") %> prohibited
          this project table from being saved:
        </h2>
        <ul>
          <% @table.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>

    <p>
      <%= form.label :description %><br>
      <%= form.text_area :description %>
    </p>

    <p>
      <%=form.label :project_state_ %>
      <%= form.select(:state) do %>
        <% [['In progress', 0], ['Completed', 1], ['Not Started',2]].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
    </p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>
  <br>
</div>
