<div class="container">
  <h1>Created Projects </h1>
  <table class="table">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>State</th>
      <th>Created</th>
      <th colspan="3"></th>
    </tr>

    <% @tables.each do |table| %>
      <tr>
        <td><%= table.title %></td>
        <td><%= table.description %></td>
        <td>
          <%states = ['In progress', 'Completed', 'Not Started'] %>
          <%=states[table.state] %>
        </td>
        <td><%=table.creation_date %></td>
        <td><%= link_to 'Show', table_path(table) %></td>
        <td><%= link_to 'Edit', edit_table_path(table) %></td>
        <td><%= link_to 'Destroy', table_path(table),
                method: :delete,
                data: { confirm: 'Are you sure you want delete this project?' } %></td>
      </tr>
    <% end %>
  </table>
  <%= button_to "New Project Table", { :action => "new" }, :method => :get %>
  <br>
</div>
