<div class="container">
<div class="row">
  <!-- Project Info-->
  <div class="col-md-8">
    <br><h2>Project</h2>
    <p>
      <strong>Title:</strong>
      <%= @table.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @table.description %>
    </p>

    <p>
      <strong>Project State:</strong>
      <% states=['In Progress','Completed', 'Not Started']%>
      <%= states[@table.state] %>
    </p>

    <p>
      <strong>Creation Date:</strong>
      <%= @table.creation_date%>
    </p>
  </div>

<% unless @table.state == 1 || @table.state == 2%>
<!--- Adding Tasks -->
  <div class="col-md-4">
    <h3>Add Task:</h3>
    <%= form_with(model: [ @table, @table.tasks.build ], local: true) do |form| %>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
        <br>
        <%= form.label :description %><br>
        <%= form.text_area :details %>
        <br>
        <%=form.label :start_date %>
        <%= form.date_field :start_date ,value: Date.today.strftime("%Y-%m-%d")%>
        <br>
        <%=form.label :finish_date %>
        <%= form.date_field :finish_date%>
        <br>
          <%=form.label :task_state_ %>
          <%= form.select(:state) do %>
            <% [['Do', 0], ['Doing', 1], ['Done',2]].each do |c| -%>
              <%= content_tag(:option, c.first, value: c.last) %>
            <% end %>
          <% end %>
        <br>
        <%= form.submit %>
    <% end %>
  </div>
  </div>
</div>
<% end %>

<br>
<!---Info table -->
<div class="container">
  <div class="row">
    <!-- Show Tasks -->
    <div class="tab list to-do">
      <h3>To Do</h3>
      <% @table.tasks.each do |task| %>
        <% if task.state == 0 %>
          <div class="tab task">
            <strong>
              Title:
              <%= task.title %>
            </strong>
            <br>
              <strong>Details:</strong>
              <%= task.details %>
            <br>
              <strong>Start date:</strong>
              <%= task.start_date%>
            <br>
              <strong>Finish date.:</strong>
              <%= task.finish_date %>
            <p>
            <%= button_to "Edit", edit_table_task_path(@table, task), :method => :get %>
            <%= button_to 'Delete', [task.table, task],
                           method: :delete,
                           data: { confirm: 'Are you sure you want delete this task?' } %>
            </p>
            </div>
        <% end %>
      <% end %>
    </div>

    <div class="tab list doing">
      <h3>Doing</h3>
      <% @table.tasks.each do |task| %>
        <% if task.state == 1 %>
          <div class="tab task">
            <strong>
              Title:
              <%= task.title %>
            </strong>
            <br>
              <strong>Details:</strong>
              <%= task.details %>
            <br>
              <strong>Start date:</strong>
              <%= task.start_date%>
            <br>
              <strong>Finish date.:</strong>
              <%= task.finish_date %>
            <p>
            <%= button_to "Edit", edit_table_task_path(@table, task), :method => :get %>
            <%= button_to 'Delete', [task.table, task],
                           method: :delete,
                           data: { confirm: 'Are you sure you want delete this task?' } %>
            </p>
            </div>
        <% end %>
      <% end %>
    </div>

    <div class="tab list done">
      <h3>Done</h3>

      <% @table.tasks.each do |task| %>
        <% if task.state == 2 %>
          <div class="tab task">
            <strong>
              Title:
              <%= task.title %>
            </strong>
            <br>
              <strong>Details:</strong>
              <%= task.details %>
            <br>
              <strong>Start date:</strong>
              <%= task.start_date%>
            <br>
              <strong>Finish date.:</strong>
              <%= task.finish_date %>
            <p>
            <%= button_to "Edit", edit_table_task_path(@table, task), :method => :get %>
            <%= button_to 'Delete', [task.table, task],
                           method: :delete,
                           data: { confirm: 'Are you sure you want delete this task?' } %>
            </p>
            </div>
        <% end %>
      <% end %>

    </div>
  </div>
  <br>
</div>
