@import "bootstrap";

body {
  background: url(bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container{
  background-color: #fff;
  opacity: 0.9;
}

.title{
  width: 100%;
  margin : 0px;
  background-color: #036169;
  color: white;
  padding: 15px  10px;
}
