// Place all the styles related to the Tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tab{
	border-radius: 3px;
	cursor: pointer;
	float:left;
	margin: 0px -3px 5px 8px;
	line-height: 30px;
	text-align: center;
	box-shadow: 0px 3px 1px 0px #444651;
}

.list{
  width: 30%;
  height: 500px;
  color: #fff;
  overflow: auto;
}

.to-do{
	background-color:#045659;
}

.doing{
	background-color:#588C8F;
}

.done{
	background-color:#4A5D5E;
}

.task{
  margin: 5%;
  width: 90%;
  color: #000;
  background-color: #A8ADAD;
}
