<!DOCTYPE html>
<html>
  <head>
    <title>To Do - Management</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md bg-dark navbar-dark ">
        <a class="navbar-brand">ROR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "Index", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Projects", tables_path, class: "nav-link" %>
            </li>
          </ul>
        </div>
      </nav>
      <div class=" title">
        <h3>To Do Management</h3>
      </div>
    </header>
    <br>

    <%= yield %>
    <p></p>
    <!-- Final de Pagina - Footer -->
  <footer class="container">
    <p>Diseñada por: <b><i>Daissi Bibiana Gonzalez Roldan</i></b>
      <br>Correo: dbgroldan@gmail.com
      <br><b><i>CopyRight<br>2018</i></b></p>
  </footer>

  </body>
</html>
